/* Generic page css */
@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	background: #dadada;
}

a {
    text-decoration: none !important;
}

/* side bar (Title and Refresh button) */

.title-and-refresh {
    height: 100vh;
    width: 240px;
    background: #dadada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Chewy", cursive;
}

.title {
    color: #000000;
    padding: 40px;
}

.refresh {
    border: 4px solid #000000;
    color: #000000;
    padding: 40px;
    border-radius: 100px;
    margin: 15px;
}

.title h1, .refresh h2 {
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
}
/* Section conatining main game */

.memory-card-game {
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}

/* each individual Div which is the front and back of the memory card, 3d effect used for enhanced visuals */

.memory-card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .2s;
}

/* small animations to smooth over when a card or the refresh button is clicked */

.refresh:hover {
    color: #dadada;
    background-color: #000000;
    border-color: #ececec;
}

.refresh:active {
	transform: scale(.97);
	transition: transform .2s;
}


.memory-card:active {
	transform: scale(.97);
	transition: transform .2s;
}

/* start of animation */

.memory-card.flip {
	transform: rotateY(180deg);
}

/* individual size and positioning for images on either side of the card */

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	border-radius: 5px;
	background: #ececec;
	backface-visibility: hidden;
}

.card-front {
	transform: rotateY(180deg);
}
